
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 55vh;
    width: 100vw;

}

/* not working for some reason  */
.btn:hover {
    border-color: black;

}
/* not working for some reason */
.start-btn {
    font-size: 1.4 rem;
    padding: 10px, 20px;

}
button {
    background-color: palevioletred;
    border-radius: 8px;
    transition-duration: 0.4s;
    border-style: hidden;

}

.btn-grid {
    display: grid; 
    gap: 10px;
    margin:20px 0px;

}

.hide {
    display: none;
}

 #high-scores {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     float: left;

}

#seconds-left {
    text-align: right; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
