
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 40vh;
    width: 100vw;

}


button:hover {
    border-color: black;

}

#start-btn {
    font-size: 1.4 rem;
    padding: 10px, 20px;

}
button {
    background-color: palevioletred;
    border-radius: 8px;
    transition-duration: 0.4s;
    border-style: hidden;

}

.btn-grid {
    display: grid; 
    gap: 10px;
    margin:20px 0px;

}

/* hover not working for some reason */

